div.text-container {  
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
.showContent{
    height: auto;
}

p {
    padding: 1px 0;
}
.show-more {
    padding: 1px 0;
    text-align: center;
}
.head_col{
	color: #fff;
	padding-top: 8px;
	font-size: 12px;
}
.head_col a{
	color: #fff;

}
.head_col_div{
	background-color: #220190;
}
.head_col_1{
	color: #fff;
	margin-left: 8px;
	padding-bottom: 5px;
}

